%h1
  = @user.name
- if current_user != @user
  #follow_info
    - if current_user.follows?(@user)
      = "You are following #{@user.name}."
      %a.unfollow{'href' => '#', 'data-user' => @user.id, 'data-name' => @user.name}
        Unfollow
    - else
      %a.follow{'href' => '#', 'data-user' => @user.id, 'data-name' => @user.name}
        Follow
#posts
  - @posts.each do |post|
    = render post