- content_for :scroll_header do
  .row
    %ul.menu
      %a.scroller{'data-link' => '#header'}
        %li.scroll-only
          %i.fa.fa-arrow-circle-o-up
          Top
      %a.scroller{'data-link' => '#about'}
        %li
          About
      %a.scroller{'data-link' => '#faq'}
        %li
          FAQ
      %a.scroller{'data-link' => '#learnmore'}
        %li
          Learn More

%section#home-hero
  .row
    .medium-7.columns
      %h1
        share and discover new foods
      %h1
        with the people that
        %span.bold
          matter.
  .row.fb-row
    .large-4.medium-6.columns
      = link_to login_url do
        .facebook
          %i.fa.fa-facebook-square
          Connect with Facebook

%section#about.featured
  .row
    .medium-12.columns
      %h1
        About
  .row
    .medium-12.columns
      .featured-description
        Eaterie is a new way to think about food. The internet has seen many advancements in the past couple years, but recipe websites are stuck in the 90s.
        Eaterie hopes to bring food into the 21st century, with an all new platform developed for social eating.

%section#faq.featured
  .row
    .medium-12.columns
      %h1
        FAQs
  .row
    .medium-12.columns
      .featured-description
        .bold
          Why make a site for recipes? That seems stupid.
        Idk man... boredom?
        .bold
          This looks dumb.
        Whatever bro.



%section#learnmore.featured
  .row
    .medium-12.columns
      %h1
        Learn More
  .row
    .medium-12.columns
      .featured-description
        1. Sign up.
        %br
        2. Share food.
        %br
        3. Find new food.
        %br
        %br
        What don't you get...?