- content_for :scroll_header do
  .row
    %ul.menu
      %a.scroller{'data-link' => '#header'}
        %li.scroll-only
          %i.fa.fa-arrow-circle-o-up
          Top
      %a.scroller{'data-link' => '#about'}
        %li
          About
      %a.scroller{'data-link' => '#faq'}
        %li
          FAQ
      %a.scroller{'data-link' => '#learnmore'}
        %li
          Learn More

%section#home-hero
  .row
    .medium-7.columns
      %h1
        share and discover new foods
      %h1
        with the people that
        %span.bold
          matter.
  .row.fb-row
    .large-4.medium-6.columns
      = link_to login_url do
        .facebook
          %i.fa.fa-facebook-square
          Connect with Facebook

%section#about.featured
  .row
    .medium-7.columns
      %h1
        About

%section.huge-break

%section#faq.featured
  .row
    .medium-7.columns
      %h1
        FAQs

%section.huge-break

%section#learnmore.featured
  .row
    .medium-7.columns
      %h1
        Learn More

%section.huge-break
