#posts
  - if @posts.length == 0
    No one you're following has posted anything.
    %br
    Perhaps you should find better people to follow...
    %br
    Wouldn't it be cool if we made suggestions for that?
  - else
    - @posts.each do |post|
      = render post