/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 *= require font-awesome
 */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,300,700,600|Libre+Baskerville:400,700);

*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #3b5998;
}

body {
  background-color: #eee;
}

.container {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}
.small-avatar {
  width:20px;
  height:20px;
}

header {
  height: 40px;
  background-color: #3a465d;
  width: 100%;
  .header-container {
    margin: auto;
    .logo {
      height: 100%;
      float: left;
      margin-right: 10px;
      font-size: 1.5em;
      padding: 0.5em 0;
      font-family: 'Lato', sans-serif;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    .header-right {
      color: #fff;
      float: right;
      padding: 11px 0;
      text-shadow: 0 -1px rgba(0, 0, 0, .5);
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      img {
        border-radius: 4px;
        border: 1px solid #333;
        margin-top: -4px;
        width:20px;
        height:20px;
      }
      .user-name {
        padding-top: 2px;
        vertical-align: top;
      }
      a {
        vertical-align: top;
        color: #fff;
      }
      &>a {
        margin-left: 10px;
      }
    }
  }
}

