// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
  width: 545px;
  margin: 20px auto;
  .post {
    width: 100%;
    margin: 0 auto 25px 35px;
    .post-container {
      width: 520px;
      padding: 10px 10px 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      position: relative;
      .avatar {
        position: absolute;
        top: 10px;
        left: -51px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        height: 52px;
        width: 51px;
      }
      .post_user {
        font-size: 14px;
        font-weight: bold;
      }
      .post_desc {
        margin-bottom: 5px;
      }
      &>img {
        width: 498px;
      }
      .post_info {
      }
      .recipe_name {
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 5px;
      }
      .ingredients {
        &:before {
          content: '(';
          margin-right: -4px;
        }
        &:after {
          content: ')';
          margin-left: -4px;
        }
        color: #aaa;
        a:link {
          color: #aaa;
        }
      }
      .likes {
        .like {
          margin-right: 5px;
        }
      }
    }
    .post-stats {
      width: 520px;
      background-color: #eee;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 16px;
      .comments {
        .comment {
          &:not(:first-of-type) {
            margin-top: 5px;
          }
          .comment-avatar {
            width: 32px;
            height: 32px;
            margin-right: 5px;
          }
          .comment-content {
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            .comment-user {
              font-weight: bold;
            }
            time {
              color: #666;
            }
          }
          .new-comment {
            border: 1px solid #ccc;
            width: 498px - 37px - 4px;
            margin: 0;
            vertical-align: top;
            padding: 8px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}


input[type="text"], textarea {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 0;
  outline: none;
  resize: none;
  width: 250px;
}

.field {
  #post_image_url {
    width: 250px;
  }
  #post_description {
    width: 250px;
  }
}

ol#steps-input {
  margin-top: 0;
  padding-left: 1.8em;
  li {
    margin-bottom: 5px;
    .instruction-input {
      margin-bottom: 5px;
      width: 227px;
    }
    .measurement {
      width: 50px;
    }
    .ingredient {
      width: 172px;
    }
  }
}
.add-step, input[type="submit"] {
  font-size: 14px; 
}
.button.normal {
  padding-top: 0.6rem;
  padding-right: 1.25rem;
  padding-bottom: 0.7rem;
  padding-left: 1.25rem;
  font-size: .9rem;
  font-weight: 500;
}

.actions {
  padding-left: 40px;
}