// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-hero {
  width: 100%;
  height: 500px;
  background-image: asset-url('hero_back_dark.png');
  background-size: cover;
  background-position-y: 25%;
  padding-top: 140px;
  h1 {
    font-size: 2.5em;
    color: white;
    font-weight: 500;
    margin-bottom: 0;
    font-family: Lato, sans-serif;
    margin-top: 10px;
    line-height: 100%;
  }
  .fb-row {
    margin-top: 20px;
  }
  .facebook {
    background-color: #3b5998;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.5em;
  }
}

#huge-break {
  height: 1000px;
}

#scroll-header {
  height: 40px;
  background-color: #3a465d;
  width: 100%;
  position: fixed;
  display: none;
}

#header {
  .scroll-only {
    display: none;
  }
  ul.menu {
    li {
      margin-top: -11px;
      font-weight: normal;
    }
  }
}

ul.menu {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  li {
    color: #fff;
    display: inline-block;
    padding: 11px 20px;
    font-size: 1.1em;
    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}
